@media screen and (max-width: 1440px){
  nav>ul li {
    margin: 0 10px;
}
.advantages_inner{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.container{
  width: 100%;
}
}
@media screen and (max-width: 1024px){

.nav-bar__logo{
display: none;
}
.nav-bar__container{
  height: 70px;
  transition: all 0.5s ease-in-out;
}
.nav-bar_opened{
  height: 100%;
  position: fixed;
}
.nav-bar_opened .nav-bar__container{
  height: 100%;
  background: rgba(6,6,6,1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  transition: all 0.5s ease-in-out;
}
nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation{
  display: none;
  flex-direction: column;
}
.right-top-holder{
  display: flex;
  justify-content:space-between;
  width: 100%;
  box-sizing: border-box;
}
.burger{
  display: flex;
  align-self: flex-start;
}
.mainpage-catalog{
  display: grid;
  grid-template-columns: 1fr;
}
.advantages_inner{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  grid-template-areas: 
    "left-column right-column";
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.adv-left{
  grid-column: 1/1;
  padding-left: 40px;
}
.adv-right{
  grid-column: 2/2;
  padding-left: 40px;
}
header:after{
  display: none;
}

nav a {
  font-size: 24px;
  padding: 4px 6px;
}
.top-contacts{
  align-self: flex-start;
  height: 36px;
}
.header__title{
  width: 96%;
  margin-left: 2%;
}
h1{
  font-size: 54px;
}

}

@media screen and (min-width: 769px){
  .footer-inner{
    height: 420px;
  }
  .advantages__title{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .advantages{
    width: 100%;
    height: auto;
    background: #1D1C1C;
  }
  .advantage{
    height: auto;
    margin-bottom: 20px;
  }
  .advantage span{
    font-size: 24px;
  }
  .advantage span, .advantage p{
    font-size: 20px;
  }
  
.advantages_inner{
  display: block;
}
.adv-left{
  padding-left: 0px;
}
.adv-right{
  padding-left: 0px;
}
.slide__announce{
  display: none;
}
.footer-inner{
  padding: 50px 40px 50px 40px;
}
.footer-main{
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 40px;
}
.footer__logo{
  margin-bottom: 40px;
}
span.footer-contacts__title{
  display: none;
}
.top-contacts__phone {
  font-size: 22px;
}
.header {
  height: 600px;
}
.header__button {
  font-size: 18px;
}
.car-readmore{
  display: inline-flex;
  font-size: 18px;
  border: 1px #FAD00F solid;
  padding: 4px;
  }
  .car-readmore span{
    display: none;
  }
  .car-readmore__arrow{
    margin-left: 4px;
  }
  .car-readmore__arrow path{
    fill: #fff;
  }
}


@media screen and (max-width: 425px){
  .header {
    height: auto;
  }
  .header__body {
    height: auto;
    padding: 70px 0 20px 0;
}
.header__title{
  margin-bottom: 20px;
}
h1{
    font-size: 42px;
}
.certificate h3{
font-size: 32px;
}
.mainpage-catalog__title h3{
  font-size: 36px;
}
.mainpage-catalog__model{
  font-size: 28px;
  }
  .car__price{
    font-size: 28px;
    }
    .from{
      font-size: 20px;
    }
    .services__header{
      display: none;
    }
    .services{
      height: 420px;
    }
.slide__image{
  max-height: 100%;
  margin-right: 4%;
}
.slide-nav {
  left: 52%;
  top: 28px;
}
.slide__info{
  position: relative;
}
.slide__title{
  position: absolute;
  font-size: 54px;
  left: -60%;
  bottom: 40px;
  color: #fff;
}
.slide-nav{
  display: none;
}
.slide__dark{
  background: #1E1D1D;
}
.slide__yell{
  background: #FAD00F;
}
.nav-bar_opened .navigation{
  display: flex;
  align-items: baseline;
}
nav>ul li {
  margin: 8px 0px;
}
.drop a .drop-arrow {
  transform: rotate(-90deg);
}
.drop a .drop-arrow svg path{
  fill: #fff;
}
}


@media screen and (max-width: 320px){
  .services{
    height: 300px;
  }
  .slide__title{
    font-size: 38px;
  }
}


