
@media (max-width: 575px){
  .car-slide__body .slide__image {
    width: 100%;
    margin-right: 0;
}
.car-slide__body .slide__info{
  padding: 40px 20px; 
}
.car-slide__body .slide__title{
  margin-bottom: 20px;
}
}

@media (min-width: 425px){
  .hero, .hero-slide{
    height: 1px;
  }
  .simple-content p, .simple-content li{
    font-size: 18px;
    line-height: 1.8;
    }
}

@media (min-width: 576px){
  .car-conditions{
    padding: 100px 0 80px 0;
  }
  .price-tag{
margin-top: 0;
  }
  .car-slide__body {
    flex-direction: row;
  }
  .custom-pills-header .header__button {
    font-size: 16px;
    padding: 10px 14px 8px 14px;
  }
  .custom-pills-header li {
    margin: 0 10px;
  }
  .catalog-car:hover, .catalog-car:hover .catalog-car-bar{
    background: #FAD00F;
    justify-content: flex-end;
    transition: all 0.7s ease-in-out;
  }
  .catalog-car:hover .catalog__values, .catalog-car:hover .catalog__price{
  display: none;  
  
  }
  .catalog-car:hover .catalog__title h3, .catalog-car:hover .catalog__model{
  color: #1D1C1C;
  transition: all 0.7s ease-in-out;
  }
  .catalog-car:hover .catalog-more{
    display: flex;
  }
    .mainpage-catalog__body{
        padding: 8%;
      }
      .mainpage-catalog__title h3{
        font-size: 60px;
      }
      .slide__announce-text{
        display: block;
        }
        .custom-slider-navs{
          position: absolute;
          display: flex;
          justify-content: space-between;
          width: 86px;
          left: 44%;
          top: 28px;
          z-index: 100;
        }
        .car-slider-navs{
          position: relative;
          left: 0;
          top: 0;
        }
        .custom-carousel-control{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 38px;
          height: 38px;
          background: none;
          border: 1px solid #858585;
        }
        .custom-carousel-control path{
          fill: #1D1C1C;
        }
        .carousel-inner{
          z-index: auto;
        }
        .custom-carousel-control{
          z-index: 100;
        }
        .header__title-car h1{
          font-size: 80px;
        }
        .catalog__power, .catalog__speed{
          flex-direction: row;
          align-items: center;
        }
        .power-icon{
          transform: scale(0.9);
          height: 20px;
          margin-bottom: 0;
        }
        .speed-icon{
          height: 20px;
          margin-left: 14px;
          margin-top: -4px;
          transform: scale(0.8);
          margin-bottom: 0;
        }
}


@media (min-width: 768px){
  .slide__announce .more-detailes{
  font-size: 18px;
  padding: 18px 36px 18px 36px;
  border: 1px solid #FAD00F;
  margin-top: 0;
  }
  .slide__announce .more-detailes:hover{
    border: 1px solid #FAD00F;
    background: #FAD00F;
  color: #fff;
  padding: 18px 36px 18px 36px;
  }
  .slide__announce .more-detailes:hover .arrow-more path{
    fill: #fff;
  }
  .slide__announce .more-detailes .arrow-more{
    transform: scale(1);
    margin-left: 18px;
  }
  .hero, .hero-slide{
    min-height: 80vh;
  }
  .car-carousel .next-slide{
    /* background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%); */
    background: linear-gradient(270deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 95%);
  }
  .car-carousel .prev-slide{
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 95%);
  }
  .car-carousel .next-slide:hover{
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  .car-carousel .prev-slide:hover{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  .car-carousel .owl-next {
    right: 0px;
}
  .car-carousel .owl-nav button {
    top: 0;
    bottom: auto;
    width: 35px;
    height: 100%;
  }
  .car-carousel .prev-slide {
    height: 100%;
  }
  .car-carousel .next-slide {
    height: 100%;
  }
  .car-carousel .owl-prev{
    left: 0px;
  }
  .custom-pills{
    padding: 50px 0 30px 0;
  }
  .catalog__price{
    font-size: 24px;
  }
  .catalog-car-bar{
    padding: 0 20px;
  }
  .catalog__title{
      padding: 20px;
  }
  .catalog__title h3{
    font-size: 50px;
    margin-top: 0px;
  }
  .catalog__model{
    font-size: 30px;
    }
    .header__title-car{
      flex-direction: row;
      padding: 0 0;
    }
  .header__title-car h1{
    font-size: 120px;
  }
.advantages{
    height: 732px;
    background: #1D1C1C url(../img/advantages.png) center center no-repeat;
  }
  .advantages-inner{
    background: #1D1C1C url(../img/advantages.png) center center no-repeat;
  }
/*.hero:after{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #FAD00F;
  transform: rotate(-45deg);
  z-index: 100;
  margin-top: -15px;
  left: 50%;
  margin-left: -15px;
  }*/
  .hero-inner:after{
display: none;
    }
  .sertificate h3 {
   font-size: 50px;
}
.header__body{
    padding: 100px 0 50px 0;
  }
  .header__title{
    margin-bottom: 0;
  }
  .carousel-item-custom{
    height: 500px;
   }
   .cars-slider{
     height: auto;
   }
   .slide__info {
    padding-top: 120px;
    padding-bottom: 40px;
    flex: 0 0 46%;
}

.slide__image{
    width: 50%;
    flex: 0 0 50%;
  }

  .custom-slider-navs{
    left: 54%;
    width: 100px;
    top: 58px;
  }
  .car-slider-navs{
    left: 0;
    top: 0;
  }


  .car-slider-navs{
    top: 0;
  }
  .mainpage-catalog__title h3{
    font-size: 50px;
  }
  .car-model{
    display: none;
  }
  .slider-promoblock{
    display: flex;
    flex: 1 0 auto;
  }
  
  .slider-promoblock div{
  border-left: 1px solid #FAD00F;
  padding: 0 4px;
  height: 40px;
  margin: 20px 0;
  }
  
  .slider-promoblock div{
    font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 132.19%;
  text-transform: uppercase;
  color: #fff;
  }
  .slider-promoblock span{
  color: #FAD00F;
  }
}

@media (min-width: 992px){
  .car-carousel .owl-nav button {
    top: 0;
    bottom: auto;
    width: 80px;
    height: 100%;
  }
  .car-carousel .nav-btn img {
    height: 60px;
  }
  .header__button-wrapper-carpage{
    display: block;
  }
  .car-carousel .owl-nav button{
    position: absolute;
  }
  #car-gallery, .car-preview{
    height: 230px;
  }
  .car-carousel .owl-nav{
    margin-top: -230px;
    height: auto;
  }
  .car-carousel .owl-nav button{
   height: 230px;
  }
  .car-block{
    display: none;
  }

  .header__title-car{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .car-title__sub{
    justify-content: flex-end;
    display: flex;
    font-weight: 300;
font-size: 24px;
line-height: 132.19%;
text-align: right;
color: #FFFFFF;
  }
  .car-title__sub div{
    width: 400px;
  }
  .header__car-price{
    display: block;
    font-size: 40px;
    color: #FAD00F;
     margin-top: -14px;
     text-align: right;
  }
  .car-model-wide{
    text-transform: uppercase;
    margin-top: -50px;
    font-size: 60px;
    color: #fff;
    display: inline-block;
  }
  .header__body-layer{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    left: 10%;
    padding-top: 10%;
  }
  .car-thumb{
    width: 40%;
  }
  .price-tag{
    margin-bottom: 0;
  }
  .price-tag p{
margin-top: 60px;
  }
  .price-for-period span{
    font-size: 26px;
  }
  .period{
    font-size: 26px;
  }
  .car-conditions h4{
    font-size: 60px;
  }
  .inner-section__subheader{
    font-size: 24px;
  }
  .header__title-car h1{
    font-size: 160px;
  }
    .navbar-expand-lg .navbar-nav .custom-navbar__nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .sertificate{
        height: 660px;
    }
    .sertificate-img{
        position: absolute;
        width: 600px;
        z-index: 300;
        top: 0;
        left: 0;
        margin-left: -280px;
        margin-top: 0;
      }
      .sertificate-intro, .sertificate-button-wrapper{
          margin-right: 36%;
          margin-left: 0;
      }
      .footer{
          height: 340px;
      }
      .footer-contacts{
        margin: 0;
      }
      .footer-contacts__title{
          display: block;
      }
      .socials{
        margin-bottom: 0;
      }
      .from{
        font-size: 2vw;
      }
      .car-readmore{
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #000;
        align-items: center;
        display: none;
        }
        .car-readmore__arrow{
            margin-left: 12px;
            margin-top: -4px;
            transform: scale(0.8);
          }
          .car-readmore__arrow path{
            fill: #000;
          }
    .mainpage-catalog__unit:hover .car-readmore{
        display: inline-flex;
    }
    .mainpage-catalog__title h3{
      font-size: 6vw;
    }
    .carousel-item-custom{
        height: 700px;
       }
       .cars-slider{
         height: auto;
       }
       .form-section{
        background: #E5E5E5 url(../img/form-img.jpg);
        background-repeat: no-repeat;
        background-position: 150% 50%;
      }
      .form-section-wedding{
        background: #E5E5E5 url(../img/form-img-wedding.jpg);
        background-repeat: no-repeat;
        background-position: 150% 50%;
      }
      .car-advantage {
        height: 80%;
        margin: 4% 0 6% 0;
        padding: 0 6px;
    }
    .section-slider-title{
      font-size: 70px;
      }
}

@media (min-width: 1200px){
  .car-promo{
    height: 180px;
    padding-top: 0px;
  }
  .car-advantage span{
    font-size: 24px;
    }
    .car-advantage {
      height: 70%;
      margin: 10% 0 20% 0;
      padding: 0 20px;
  }
  .super_menu_toggler{
    display: none;
  }
  .super_menu{
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    background: none;
    left: 0;
    box-sizing: border-box;
    padding: 0;
    transition: none;
    overflow: visible;
  }
  .super_menu.hidden_menu {
    left: 0;
    transition: none;
}
.super_menu .hidden_sub {
  left: 50%;
  transition: none;
}

  .slider-promoblock div{
  font-size: 20px;
  }
  .slider-promoblock div{
    border-left: 1px solid #FAD00F;
    padding: 0 10px;
    height: 90px;
    margin: 0;
    }
  .form-section{
    background: #E5E5E5 url(../img/form-img.jpg) right center no-repeat;
  }
  .form-section-wedding{
    background: #E5E5E5 url(../img/form-img-wedding.jpg) right center no-repeat;
  }
  #car-gallery, .car-preview{
    height: 400px;
    min-height: 400px;
  }
  .car-carousel .owl-nav{
    margin-top: -400px;
    height: auto;
  }
  .car-carousel .owl-nav button{
   height: 400px;
  }
  .car-carousel .nav-btn img {
    height: 60px;
  }
  .header__title-car h1{
    font-size: 200px;
  }
    .custom-navbar{
        background: rgba(6,6,6,0.4);
        height: 100px;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
      }
      .dropdown-menu{
        display: none;
       }
       .dropdown-menu-center {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .dropdown-menu-custom{
        background: #000;
        padding: 30px;
        top: 112%;
    }
    .dropdown-contacts{
      background: #000;
      padding: 20px;
      display: none;
      position: absolute;
    }
    .top-contacts__phone{
      margin-top: 0;
    }
    .dropdown-menu-custom li{
        margin: 4px 0;
        min-width: 140px;
      }
      .dropdown-menu-custom::before{
        content:'';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #000;
    }
    .top-contacts_drop-arrow{
      display: block;
    }
    .carousel-item-custom{
        height: 800px;
       }
       .cars-slider{
         height: auto;
       }
       .slide__announce {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.2;
        color: #858585;
       }
       .mainpage-catalog__title h3{
        font-size: 4.4vw;
      }
      .mainpage-catalog__unit{
        height: 430px;
      }
      .car__price{
        font-size: 2.6vw;
        }
        .custom-pills .nav-link{
          font-size: 20px;
            padding: .5rem 1.8rem;
        }
        .custom-pills-header .nav-link{
          padding: 1rem 1.8rem;
        }
        .custom-pills-header .header__button span{
          margin-right: 0;
        }
        .custom-pills-header .header__button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          font-size: 22px;
          line-height: 132.19%;
          letter-spacing: 0.075em;
          color: #FFF;
          border: 1px solid #FAD00F;
          text-decoration: none;
          text-transform: uppercase;
          border-radius: 50px;
          padding: 12px 34px 11px 34px;
          align-content: flex-start;
          min-width: 306px;
      }
}

@media (min-width: 1500px){
  .header__title-car h1{
    font-size: 240px;
  }
    .sertificate{
        height: 700px;
    }
    .sertificate-img{
        position: absolute;
        width: 700px;
        z-index: 300;
        top: 0;
        left: 0;
        margin-left: -400px;
        margin-top: -50px;
      }
      .sertificate-intro, .sertificate-button-wrapper{
          margin-right: 40%;
      }
      .services__header{
        display: block;
      }
}
